Repository utatatata/node-cli-flow-jest-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, fixpack

set up sorting package.json and its precommit hook
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write, fixpack

set up Jest with Flow
  __tests__/hello.test.js
  flow-typed/npm/jest_v23.x.x.js
  jest.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, fixpack

set up cli config
  bin/cli
  package.json
Due: prettier --write, fixpack

fix precommit hook and sorting package.json
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write, fixpack

add npm script release
  package.json
  yarn.lock
Due: prettier --write, fixpack

to use Babel with Jest
  package.json
  yarn.lock
Due: prettier --write, fixpack

add README
  README.md
Due: none

set up Commander.js
  __tests__/greetCmd.test.js
  __tests__/hello.test.js
  flow-typed/npm/commander_v2.x.x.js
  package.json
  src/foo.js
  src/greetCmd.js
  src/hello.js
  src/index.js
  yarn.lock
Due: eslint --fix, prettier --write, fixpack

fix type error
  __tests__/greetCmd.test.js
Due: eslint --fix

fix type errors and get a versoin from pakcage.json
  .flowconfig
  src/getPkgJson.js
  src/greetCmd.js
  src/index.js
Due: eslint --fix

set up VSCode for Flow, ESLint and Prettier
  .flowconfig
  .vscode/settings.json
  __tests__/greetCmd.test.js
Due: eslint --fix, prettier --write

fix an invalid path to package.json
  src/index.js
Due: eslint --fix

use test instead of it in Jest and fix test case names
  __tests__/greetCmd.test.js
Due: eslint --fix

edit README
  README.md
Due: none

fix README
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.json) or (any of: .babelrc)
  fixpack: any of: package.json
